html/
latex/
cmake-build-debug/
.idea/
*.swp
*.swo
build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/strategy
build/strategy_test
benchmarks/build/CMakeCache.txt
benchmarks/build/CMakeFiles
benchmarks/build/cmake_install.cmake
benchmarks/build/Makefile
benchmarks/build/array_benchmarks


